{% load static %}
{% with url_name=request.resolver_match.url_name %}
<div class="ui secondary pointing menu">
    <a class="item {% if url_name == 'tickets-list' %}active{% endif %}" href="{% url 'tickets-list' %}">
      Заявки
    </a>
    <a class="item {% if url_name == 'tickets-new' %}active{% endif %}" href="{% url 'tickets-new' %}">
      Новая заявка
    </a>
    {% if user.is_operator %}
    <a class="item {% if url_name == 'create-customer' %}active{% endif %}" href="{% url 'create-customer' %}">
      Создать заказчика
    </a>
    {% endif%}
    <div class="right menu">
      <a class="ui item" href="{% url 'logout' %}">
        Выход
      </a>
    </div>
  </div>
{% endwith %} 