<div class="fields">
    <div class="fifteen wide field">
<div class="ui search selection dropdown">
    <input type="hidden"  name="{{ widget.name }}" value="{{widget.value|first}}" {% include "django/forms/widgets/attrs.html" %}>
    <i class="dropdown icon"></i>
    <div class="default text">Выбрать исполнителя</div>
    <div class="menu">
        {% for group_name, group_choices, group_index in widget.optgroups %}
        {% for option in group_choices %}
            {% include option.template_name with widget=option %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
</div>

<div class="one wide field">
<a  href="{% url 'contractor-create' %} " class="ui icon button">
    <i class="plus icon"></i>
</a>
</div>
</div>
