{% load static %}
{% with url_name=request.resolver_match.url_name %}
<div class="ui secondary pointing menu">
    <a class="item {% if url_name == 'tickets-list' %}active{% endif %}" href="{% url 'tickets-list' %}">
      Заявки
    </a>
    <a class="item {% if url_name == 'tickets-new' %}active{% endif %}" href="{% url 'tickets-new' %}">
      Новая заявка
    </a>
    {% if user.is_operator  or user.is_staff %}
    <a class="item {% if url_name == 'list-customers' %}active{% endif %}" href="{% url 'list-customers' %}">
      Заказчики
    </a>
    <a class="item {% if url_name == 'list-contractors' %}active{% endif %}" href="{% url 'list-contractors' %}">
      Исполнители
    </a>
    {% endif%}
    <div class="right menu">
      <a class="ui item" href="{% url 'logout' %}">
        Выход
      </a>
    </div>
  </div>
{% endwith %} 