{% for delivery in delivers %}
<div class=" {{ delivery.get_color }} mini card" id="card-{{ delivery.pk }}">
  <div class="content">
    <div class="header">#{{ delivery.id }}</div>
    <div class="meta">
      <span class="right floated time">{{ delivery.date_delivery }}</span>
    <br>
    {% for deliv_components in delivery.get_component_total_aggregate %}
      <div class="dot-container">
        <span class="category dots">{{ deliv_components.component_type__name}}</span>   
        <span class="right floated time">{{ deliv_components.total }} шт.</span>
      </div>
    {% endfor %}
    </div>
    <div class="description">{{ delivery.comment }}</div>
  </div>
  <div class="extra content">
    <div class="ui two buttons">
      <a hx-post="{% url 'done_delivery' delivery.pk %}" hx-target="#card-{{ delivery.pk }}" hx-swap="delete"
        hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}' class="ui mini basic button">
        Доставленно</a>
      <a href="{% url 'update_delivery' delivery.pk %}" class="ui mini basic button">Изменить</a>
    </div>
  </div>
</div>
{% endfor %}
{% block header_style %}
<style>
  .dot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dot-container .dots {
    flex: 1;
    border-bottom: 1px dotted;
    margin: 0 10px;
}
</style>
{% endblock %}