{% extends 'ticsys/index.html' %}

{% block content %}
  <h1>Создание типов компонента</h1>
  <form class="ui form" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="two fields">
      <div class="field">
        <label>{{ form.name.label }}</label>
        {{ form.name }}
        {{ form.name.errors }}
      </div>
    </div>
    <div class="field">
      <div class="ui checkbox">
        {{ form.is_internal }}
        <label>{{ form.is_internal.label }}</label>
        {{ form.is_internal.errors }}
      </div>
    </div>
    <div>
      <label>{{ form.parent_component_type.label }}</label>
      {{ form.parent_component_type }}
      {{ form.parent_component_type.errors }}
    </div>

    <button class="ui button basic green" type="submit">Создать</button>
  </form>
  <script>
    $('.ui.checkbox').checkbox()
    $('select').dropdown()
  </script>
{% endblock %}
