<div class="content">
  <h3>{{ component_type.name }}</h3>
  <table class="ui single line table">
    <thead>
      <tr>
        <th>Заявка на производство</th>
        <th>Количество необходимых компонентов</th>
        <th>Клиент</th>
        <th>Дата отгрузки</th>
      </tr>
    </thead>
    {% for manufacture in manufacturers %}
      <tr>
        <td>
          <a href="{% url 'manufacture-update' manufacture.id %}">{{ manufacture.id }}</a>
        </td>
        <td>{{ manufacture.count }}</td>
        <td>{{ manufacture.client }}</td>
        <td>{{ manufacture.date_shipment|date:'d.m.Y' }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
