{% extends 'ticsys/index.html' %}
{% block header_style %}
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}

{% block content %}
  <h1>{% firstof page_name 'Склад' %}</h1>
  <div class="row">
    <div class="col-md-6">
      <a class="ui button basic blue" href="{% url 'component-type-create' %}">Создать тип компонент</a>
      <a class="ui button basic green" href="{% url 'component-create' %}">Добавить компонент на склад</a>
      <a class="ui button basic green" href="{% url 'component-type-create' %}">Добавить доставку</a>
      <div class="ui horizontal right aligned divider header legent">
        <a class="ui mini red label">отсутвует</a>
        <a class="ui mini violet label">в резерве на доставе</a>
        <a class="ui mini blue label">в доставке</a>
        <a class="ui mini purple label">зарезервирован</a>
        <a class="ui mini green label">свободны</a>
      </div>
      {% include 'storage/table_storage.html' %}
    </div>
  </div>
{% endblock %}
