{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
  <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h1>{% firstof name_page 'Создание доставки' %}</h1>
  <div hx-target="#tab-contents">
    <button class="ui primary basic button" hx-get="{% url 'manual-create' %}">Ручное создание</button>
    <button class="ui primary basic button" hx-get="{% url 'delivery-template' 'auto' %}">Доставка из счета (beta)</button>
  </div>
  <br />

  <div id="tab-contents" hx-get="{% url 'manual-create' %}" hx-trigger="load"></div>
{% endblock %}
{% block script %}
  <script id="after-script"></script>
{% endblock %}
