{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
  <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
{% block content %}
  <h1>{% firstof name_page 'Создание доставки' %}</h1>
  <div hx-target="#tab-contents" class="ui left buttons">
    <a class="ui primary button active"  hx-target="#delivery-type-add" hx-get="{% url 'delivery-create' %}" hx-on::after-request=initialize()> >Ручное создание</a>
    <a class="ui primary basic button" hx-target="#delivery-type-add" hx-get="{% url 'create-delivery-invoice' %}" hx-on::after-request=initialize()>Доставка из счета (beta)</a>
  </div>
  <br />
  <form class="ui form" id="form-create-delivery" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="field">
      <label>{{ form.date_delivery.label }}</label>
      {{ form.date_delivery }}
      {{ form.date_delivery.errors }}
    </div>
    <div class="field">
      <label>{{ form.comment.label }}</label>
      {{ form.comment }}
      {{ form.comment.errors }}
    </div>
    <div id="delivery-type-add">
      {% include "storage/htmx/manual_delivery.html" %}
    </div>
    <button class="ui button basic green" id="add_btn">+</button>
    <button class="ui button basic green" type="submit">{% firstof name_btn 'Создать' %}</button>
  </form>
{% endblock %}
{% block script %}
  <script>
    function initialize() {
      $('.dropdown').dropdown()
      $('.ui.checkbox').checkbox()
    
      let parentForm = document.querySelectorAll('.containerComponents')
      let container = document.querySelector('.containerComponents')
      let addButton = document.querySelector('#add_btn')
      let totalForms = document.querySelector('#id_type_count-TOTAL_FORMS')
    
      let formNum = parentForm.length - 1
      addButton.addEventListener('click', addForm)
    
      function addForm(e) {
        e.preventDefault()
    
        let newForm = parentForm[0].cloneNode(true)
        let formRegex = RegExp(`type_count-(\\d){1}-`, 'g')
    
        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `type_count-${formNum}-`)
        container.insertAdjacentElement('afterend', newForm);
    
        totalForms.setAttribute('value', `${formNum + 1}`)
        $('.dropdown').dropdown()
      }
    
      $('#date_calendar_date_delivery').calendar({
        type: 'date',
        firstDayOfWeek: 1,
        text: {
          days: ['В', 'П', 'В', 'С', 'Ч', 'П', 'С'],
          today: 'Сегодня',
          months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
          monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
        },
        formatter: {
          date: 'DD.MM.YYYY'
        }
      })
    }
    initialize()
  </script>
{% endblock %}
