{% extends 'ticsys/index.html' %}
{% load progress %}
{% load static %}
{% block header_style %}
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>


{% endblock %}

{% block content %}
  <div id="app">
    <div class="row">
      <div class="col-md-6">
        <a class="ui button basic blue" href="{% url 'component-type-create' %}">Создать тип компонент</a>
        <a class="ui button basic green" href="{% url 'component-create' %}">Добавить компонент на склад</a>
        <a class="ui button basic" href="{% url 'delivery-create' %}">Добавить доставку</a>
        <a class="ui button basic" href="{% url 'component-list' %}">Все компоненты</a>

        
        <div class="ui accordion">
          <div class="title">
            <h3>Доставка</h3>
          </div>
          <div class="content">
            <div class="ui cards">

              <div class="ui card loading" hx-get="{% url 'delivery-list' %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
                <div class="content">
                  <div class="header">#12</div>
                  <div class="meta">
                      <span class="right floated time">01.12.12</span>
                      <span class="category">4 шт.</span>
                  </div>
                  <div class="description">
          
                      Описание
                  </div>
              </div>
              <div class="extra content">
                  <div class="ui two buttons">
                      <div class="ui basic green button">Доставленно</div>
                      <div class="ui basic red button">Изменить</div>
                  </div>
              </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
        <h1>Склад</h1>

        <table class="ui compact table very padded">
          <thead>
            <tr>
              <th>Тип компонента</th>
              <th></th>
              <th>На складе</th>
              <th>Необходимо</th>
              <th>На доставке</th>
              <th class="seven wide">
                Диаграмма<div class="legent">
                  <a class="ui mini red label">отсутвует</a>
                  <a class="ui mini violet label">в резерве на доставе</a>
                  <a class="ui mini blue label">в доставке</a>
                  <a class="ui mini purple label">зарезервирован</a>
                  <a class="ui mini green label">свободны</a>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for component in components %}
              <tr>
                <td class="selectable">
                  <span>{{ component.component_type_name }}</span>
                </td>
                <td class="collapsing">
                  <a href="{% url 'component-create' %}?component_type={{ component.component_type }}" class="circular mini green basic alight left ui icon button"><i class="plus icon"></i></a>
                </td>
                <td>{{ component.in_stock }}</td>
                <td class="reserved_popup">
                  {{ component.in_reserve }}<i class="attention grey icon" onclick="load_reserved({{ component.component_type }})"></i>
                </td>
                <td>
                  {{ component.in_delivery }}<i class="attention grey icon"></i>
                </td>

                <td>
                  <div class="ui multiple progress" data-total="{{ component.count }}" data-value="{{ component|get_value_progress }}">
                    {% comment %};#// в резерве без наличия{% endcomment %}
                    <div class="red bar">
                      <div class="progress"></div>
                    </div>
                    {% comment %};#// в резерве и с доставкой{% endcomment %}
                    <div class="violet bar">
                      <div class="progress"></div>
                    </div>
                    {% comment %};#// с доставкой{% endcomment %}
                    <div class="blue bar">
                      <div class="progress"></div>
                    </div>
                    {% comment %};#// в резерве в наличии{% endcomment %}
                    <div class="purple bar">
                      <div class="progress"></div>
                    </div>
                    {% comment %};#// в наличии{% endcomment %}
                    <div class="green bar">
                      <div class="progress"></div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="ui modal"></div>
  <script>
    $('.ui.accordion').accordion("open",0);
    $('.ui.multiple.progress').progress({
      text: {
        percent: '{value}'
      }
    })
    
    function load_reserved(id) {
      // show modal and set content id
      console.log(id)
      $('.ui.modal').modal('show')
      var url = '{% url 'component-type-reserve' 0 %}'.replace('0', id)
      $('.ui.modal').load(url)
    }
    
  </script>
{% endblock %}
