{% extends 'ticsys/index.html' %}
{% load static %}

{% block content %}
  {% block header_style %}
    <style>
      .main {
        max-width: 85%;
      }
      .box.ui.right.rail {
        padding-right: 2rem;
      }
      .p12 {
        padding-bottom: 2rem;
      }
    </style>
    <link rel="stylesheet" href="{% static 'storage/css/delivery.css' %}" />
  {% endblock %}
  <div>
    <a class="ui button basic blue" href="{% url 'component-type-create' %}">Создать тип компонент</a>
    <a class="ui button basic green" href="{% url 'component-create' %}">Добавить компонент на склад</a>
    <a class="ui button basic" href="{% url 'delivery-create' %}">Добавить доставку</a>
    <a class="ui button basic disabled" href="{% url 'component-list' %}">Все компоненты</a>
  </div>

  <div class="main ui basic fitted segment">
    <div class="box ui right rail">
      <div class="title p12">
        <h2>Доставка</h2>
      </div>

      <div class="content">
        <div class="ui cards">
          <div class="ui mini card loading" hx-get="{% url 'delivery-list' %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML">
            <div class="content">
              <div class="header">#12</div>
              <div class="meta">
                <span class="right floated time">01.12.12</span>
                <span class="category">4 шт.</span>
              </div>
              <div class="description">Описание</div>
            </div>
            <div class="extra content">
              <div class="ui two buttons">
                <div class="ui mini basic button">Доставленно</div>
                <div class="ui mini basic button">Изменить</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1>Склад</h1>
    {% include 'storage/table_storage.html' %}
  </div>
  <div class="ui modal"></div>
  <script>

    
    function load_reserved(id) {
      // show modal and set content id
      console.log(id)
      $('.ui.modal').modal('show')
      var url = '{% url 'component-type-reserve' 0 %}'.replace('0', id)
      $('.ui.modal').load(url)
    }
    
  </script>
{% endblock %}
