{% load static %}

{% block header_style %}
  <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
<div id="filter_block" >
  <div class="ui icon input">
    <input  type="search" 
      id="seach_id"
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      placeholder="Поиск..."
      name="search"
      hx-get='{% url "search" %}{% if nomenclature_pk %}&nomenclature_pk={{nomenclature_pk}}{% endif %}'
      hx-trigger="input changed delay:500ms, search" 
      hx-target="#search-results" 
      hx-vals='js:{internal: getIternal()}'
      hx-on:htmx:after-request="run_progress();"
      hx-indicator="#indicator"
      >
    <i class="search icon"></i>  
  </div>

  <div class="ui checkbox">
      <input type="checkbox" 
        id="checkbox_internal"
        name="internal"
        hx-trigger="click" 
        hx-get='{% url "search" %}{% if nomenclature_pk %}?nomenclature_pk={{nomenclature_pk}}{% endif %}'
        hx-target="#search-results" 
        hx-vals='js:{search: getSearch()}'
        hx-on:htmx:after-request="run_progress();"
        hx-indicator="#indicator"
        
    >
    <label for="checkbox_internal">Показать все компоненты</label>
  </div>
</div>

<table class="ui compact table very padded">
  <thead>
    <tr>
      <th>Тип компонента</th>
      <th></th>
      <th>На складе</th>
      <th>Необходимо</th>
      <th>На доставке</th>
      <th class="seven wide">
        Диаграмма<div class="legent">
          <a class="ui mini red label">отсутвует</a>
          <a class="ui mini violet label">в резерве на доставе</a>
          <a class="ui mini blue label">в доставке</a>
          <a class="ui mini purple label">зарезервирован</a>
          <a class="ui mini green label">свободны</a>
        </div>
      </th>
    </tr>
  </thead>
  <tr class="htmx-indicator" id="indicator"><td colspan="2" class="ui active  loader "></td></tr>
  <tbody id="search-results">
    {% include "storage/table_body.html" %}
  </tbody>
</table>

<script>
  run_progress();
  function run_progress(){
    $('.ui.multiple.progress').progress({
        text: {
          percent: '{value}'
        }
      })
    }

  function getSearch(){
    const searchEl = document.getElementById('seach_id')
    const searchInput = searchEl.value;
    if (searchEl){
      return searchInput
    }
    return ""
  }

  function getIternal(){
    const checkboxEl = document.getElementById('checkbox_internal')
    const checkboxInternal = checkboxEl.checked;
    if (checkboxInternal) {
      return "on"
    }
    return ""
  }
</script>