{% load progress %}

{% for component in components %}
  <tr>
    <td class="selectable">
      <span>{{ component.component_type_name }}</span>
    </td>
    <td class="collapsing">
      <a href="{% url 'component-create' %}?component_type={{ component.component_type }}" class="circular mini green basic alight left ui icon button"><i class="plus icon"></i></a>
    </td>

    <td id="in_stock" hx-target="this" class="right aligned collapsing">
      {{ component.in_stock }}
      <a hx-get="{% url 'write-off' component.component_type %}" class="circular mini red basic alight left ui icon button"><i class="minus icon"></i></a>
    </td>
    <td class="reserved_popup right aligned">
      {{ component.in_reserve }}<i class="attention grey icon" onclick="load_reserved({{ component.component_type }})"></i>
    </td>
    <td class="right aligned">
      {{ component.in_delivery }}<i class="attention grey icon"></i>
    </td>

    <td>
      <div class="ui multiple progress" data-total="{{ component.count }}" data-value="{{ component|get_value_progress:nomenclature_pk }}">
        {% comment %};#// в резерве без наличия{% endcomment %}
        <div class="red bar">
          <div class="progress"></div>
        </div>
        {% comment %};#// в резерве и с доставкой{% endcomment %}
        <div class="violet bar">
          <div class="progress"></div>
        </div>
        {% comment %};#// с доставкой{% endcomment %}
        <div class="blue bar">
          <div class="progress"></div>
        </div>
        {% comment %};#// в резерве в наличии{% endcomment %}
        <div class="purple bar">
          <div class="progress"></div>
        </div>
        {% comment %};#// в наличии{% endcomment %}
        <div class="green bar">
          <div class="progress"></div>
        </div>
      </div>
    </td>
    {% if nomenclature_pk %}
    <td>
      <button class="ui basic mini button"
      hx-get="{% url 'add-serial-number' nomenclature_pk component.component_type %}"
      hx-target="#modal-add-serial-number"
      hx-trigger="click"
      hx-swap="innerHTML">
        <i class="barcode icon"></i>
      </button>
    </td>
    {% endif %}

  </tr>

{% endfor %}