{% extends 'ticsys/index.html' %}
{% load static %}

{% block  header_style%}
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
<style>
  .dropdown.selection {
     min-width: 300px !important
}
  .htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
</style>
{% endblock  %}
{% block content %}
  <h1>Редактирование черновой доставки №{{delivery.pk}} (beta)</h1>
  <p>Достаква создавалась из pdf счета <a target="_blank" href={{delivery.invoice.file_invoice.url}}>{{delivery.invoice.file_invoice_name}}</a></p>
  {% if object.invoice.status == object.invoice.Status.DONE %}
  <form class="ui form" id="form-update-invoce-alias" method="post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "storage/htmx/base_form.html" %}
    <h3>Компоненты из счета</h3>
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{ alias_invoice_forms.management_form }}
    <div class="contanireParentForm">
      {% for alias_invoice_form in alias_invoice_forms %}
        <div class="inline fields" 
        id="invoice_alias_{{alias_invoice_form.id_relation.initial}}"
        hx-confirm="Удалить объект из доставки?"
        hx-target="#invoice_alias_{{alias_invoice_form.id_relation.initial}}"
        hx-swap="outerHTML swap:1s">
          <span class="ui circular label">{{ forloop.counter }}</span>
          {{alias_invoice_form.id}}
          <div class="six wide field {% if alias_invoice_form.name.errors %}error{% endif %}">
            <label>{{ alias_invoice_form.name.label }}</label>
            {{ alias_invoice_form.name }}
              {% if alias_invoice_form.name.errors %}
                <div class="ui left pointing red basic label">
                  {{alias_invoice_form.name.errors}}
                </div>
              {% endif %}
          </div>
          <div class="seven wide field {% if alias_invoice_form.component_type.errors %}error{% endif %}">
            <label>{{ alias_invoice_form.component_type.label }}</label>
            {{ alias_invoice_form.component_type }}
            {% comment %} {{ alias_invoice_form.component_type.errors }} {% endcomment %}
          </div>
          <div class="three wide field {% if alias_invoice_form.quantity.errors %}error{% endif %}">
            <label>{{ alias_invoice_form.quantity.label }}</label>
            {{ alias_invoice_form.quantity }}
            {% comment %} {{ alias_invoice_form.quantity.errors }} {% endcomment %}
          </div>
          {% if alias_invoice_form.id_relation.initial %}
            {% with id_for_delete=alias_invoice_form.id_relation.initial %}

            <a class="ui icon red label" hx-delete= {% url "invoice-alias-delete" id_for_delete %}>
              <i class="trash icon"></i>
            </a>
            {% endwith %}

          {% endif %}
        </div>
      {% endfor %}
    </div>
    <a class="ui button basic green" style="display: none;" id="add_alias_btn">+</a>

    <button class="ui button basic green" type="submit">Создать доставку</button>
  </form>
  {% else %}
  <h3>Статус обработки заявки: {{object.invoice.get_status_display}}.<h3>
  {% endif %}


{% endblock %}

{% block script %}
  <script>
    $('.ui.dropdown.search.selection').dropdown()
    $('select').dropdown()

    let prefix_form = 'form';
    let parentForm = document.querySelectorAll('.contanireParentForm')
    let container = document.querySelector('#form-update-invoce-alias')
    let addButton = document.querySelector('#add_alias_btn')
    let totalForms = document.querySelector(`#id_${prefix_form}-TOTAL_FORMS`)
    
    let formNum = parentForm.length - 1
    addButton.addEventListener('click', addForm)
    
    function addForm(e) {
      e.preventDefault()
    
      let newForm = parentForm[0].cloneNode(true)
      let formRegex = RegExp(`${prefix_form}-(\\d){1}-`, 'g')
    
      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${prefix_form}-${formNum}-`)
      container.insertBefore(newForm, addButton)
    
      totalForms.setAttribute('value', `${formNum + 1}`)
      $('.dropdown').dropdown()
    }

    document.body.addEventListener('htmx:afterRequest', function(evt) {
      if (evt.detail.elt.getAttribute("hx-delete")) {
          const totalFormsInput = document.querySelector('#id_form-TOTAL_FORMS');
          
          if (totalFormsInput) {
              totalFormsInput.value = parseInt(totalFormsInput.value) - 1;
          }
      }
  });
  </script>
{% endblock %}
