{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Производство</h1>
{% if  user.is_operator  or user.is_staff %}
<a class="ui button" style="margin-bottom: 10px;" href={% url "manufactures-create" %}>Добавить задачу на производство</a> 
{% endif %}
<table id="tableManufactures" class="ui table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата создания</th>
            <th>Клиент</th>
            <th>Планируемая дата отгрузки</th>
            <th>Количество</th>
            <th>Брендирование</th>
            <th>Статус</th>
            <th>Подробнее</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
    {% for manufacture in manufactures  %}
    <tr>
        <td>{{ manufacture.pk }}</td>
        <td>{{ manufacture.date_create }}</td>
        <td>{{ manufacture.client }}</td>
        <td>{{ manufacture.date_shipment|default_if_none:""}}</td>
        <td>{{ manufacture.count}}
        <td><i class={% if manufacture.branding%}"check circle outline green icon"{% else %}"times circle outline red icon"{% endif %}></i></td>
        <td>{% if manufacture.status %} <div class="ui {{manufacture.get_color_status}} label">{{manufacture.status}}</div>{% endif %}</td>
        <td>
            <a target="_blank" class="ui button info basic"  href="{% url 'manufacture-update' manufacture.id %}">Подробнее</a>
        </td>
        <td>{{ manufacture.comment }}</td>
    </tr>
    {% empty %}
        <tr>
          <td>Нет задач</td>
        <tr>
    {% endfor %}

    </tbody>
</table>
{% endblock content %}

{% block script %}
<script>

{% if  object_list%}
var table = $('#tableManufactures').DataTable({
    stateSave: true,
    
    language: {
        url: "{% static 'DataTables/ru.json'%}"
    } 
  });
table.on('draw.dt', function () {
    $('.info.icon.link').popup();    
});
{%endif%}
</script>
{% endblock script %}