{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Производство</h1>
{% if  user.is_operator  or user.is_staff %}
<a class="ui button" style="margin-bottom: 10px;" href={% url "manufactures-create" %}>Добавить задачу на производство</a> 
{% endif %}
<a class="ui button" style="margin-bottom: 10px;" id="onFull">На весь экран</a> 
<table id="tableManufactures" class="ui table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Дата создания</th>
            <th>Клиент</th>
            <th>Планируемая дата отгрузки</th>
            <th>Количество</th>
            <th>Брендирование</th>
            <th>Статус</th>
            <th>Подробнее</th>
            <th>Комментарий</th>
        </tr>
    </thead>
    <tbody>
    {% for manufacture in manufactures  %}
    <tr>
        <td>{{ manufacture.pk }}</td>
        <td>{{ manufacture.date_create| date:"Y-m-d H:i:s" }}</td>
        <td>{{ manufacture.client }}</td>

        <td>{{ manufacture.date_shipment| date:"Y-m-d"}}</td>            
        <td>{{ manufacture.count}}
        <td><i class={% if manufacture.branding%}"check circle outline green icon"{% else %}"times circle outline red icon"{% endif %}></i></td>
        <td>{% if manufacture.status %} <div class="ui {{manufacture.get_color_status}} label">{{manufacture.status}}</div>{% endif %}</td>
        <td>
            <a target="_blank" class="ui button info basic"  href="{% url 'manufacture-update' manufacture.id %}">Подробнее</a>
        </td>
        <td>{{ manufacture.comment }}</td>
    </tr>

    {% empty %}
        <tr>
          <td>Нет задач</td>
        <tr>
    {% endfor %}

    </tbody>
</table>
{% endblock content %}

{% block script %}
<script>

{% if  object_list%}
var table = $('#tableManufactures').DataTable({
    stateSave: true,
    columnDefs: [
        { "orderable": false, "targets": [4,5,6,7,8] },
        {
            targets: 3,
            render: DataTable.render.date(),
        },
        {
            targets: 1,
            render: DataTable.render.datetime(),   
        }
    ],
    language: {
        url: "{% static 'DataTables/ru.json'%}"
    } 
  });

  $('#tableManufactures tbody').on( 'click', 'tr', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        var id = row.data()[0];
        if (row.child.isShown()) {
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            row.child( getDetails(id) ).show();
            tr.addClass('shown');
        }
    } );

{%endif%}
{% if  user.is_operator  or user.is_staff %}
{%endif%}

function getDetails(id){
        var div = $('<div/>')
            .addClass( 'loading' )
            .text( 'Loading...' );
        url = "{% url 'manufacture-detail-nomenclatures' 0 %}";
       
        $.ajax( {
            url: url.replace('0', id),
            success: function ( res ) {
                div
                    .html( res )
                    .removeClass( 'loading' );
            }
        } );
     
        return div;
    };
$("#onFull").click(function(){
    $('.ui.container').toggleClass('fluid');
});

</script>
{% endblock script %}