{% extends 'ticsys/index.html' %}
{% block content %}
<h1>{% firstof name_page 'Создание задачи на производство' %}</h1>
<a class="ui button blue basic" href="{% url 'client-create' %}">Создать клиента</a>
<div class="ui container">
    <form class="ui form" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        <h4 class="ui dividing header">Общая информация</h4>
        <div class="three fields">
          <div class="field">
              <label>{{form.status.label}}</label>
              {{form.status}}
          </div>
          <div class="field">
              <label>{{form.client.label}}</label>
              {{form.client}}
          </div>
          <div class="field">
              <label>{{form.date_shipment.label}}</label>
              {{form.date_shipment}}
          </div>
        </div>
        <div class="ui segment">
          <div class="ui field toggle checkbox">
            {{form.branding}}
            <label>Использовать брендирование</label>
          </div>
        </div>
        <div class="field">
          <label>{{form.comment.label}}</label>
          {{form.comment}}
       </div>


  
      <button class="ui button positive" type="submit">{% firstof name_btn 'Создать' %}</button>
    </form>
  </div>

  <script>
    $('.ui.checkbox').checkbox();
    $('.selection.dropdown').dropdown();
    $('.ui.fluid.search.dropdown').dropdown();
    $('#date_calendar_date_shipment').calendar({
        type: "date", 
        firstDayOfWeek: 1,
        text: {
        days: ['В', 'П', 'В', 'С', 'Ч', 'П', 'С'],
          today: 'Сегодня',
          months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
          monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
        },
        formatter: {
          date: 'DD.MM.YYYY'
        }
      });

  </script>
  
{% endblock content %}