<form class="ui form" id="form-create-delivery" action="{% url "create-delivery-invoice" %}" method="post">
  {% include "storage/htmx/base_form.html" %}
  <input type="file" id="pdfupload" accept="application/pdf" class="ui invisible file input">
  <label for="pdfupload" class="ui placeholder segment">
    <div class="ui icon header">
      <i class="upload icon"></i>
      Загрузить PDF файл
    </div>
  </label>
  <button class="ui button basic green" type="submit">{% firstof name_btn 'Создать' %}</button>