  .dot-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .dot-container .dots {
      flex: 1;
      border-bottom: 1px dotted;
      margin: 0 10px;
  }