celery==5.2.7
channels==4.0.0
channels-redis==4.0.0
daphne==4.0.0
Django==5.1
django-environ==0.9.0
djangorestframework
djangorestframework_datatables==0.7.0
django-filter==23.5
docx==0.2.4
docxtpl==0.16.5
factory-boy==3.2.1
Faker==15.3.4
flower==1.2.0
imap-tools==1.0.0
natasha==1.4.0
openpyxl==3.1.1
redis==4.5.3
requests==2.30.0
sentry-sdk[django]==1.45.1
psycopg2-binary
django-viewflow==2.2.7
django-debug-toolbar==4.4.6