<div class="comment">
    <a class="avatar">
      <img src="{{comment.author.get_avatar}}">
    </a>
    <div class="content">
      <span class="author">
        {% if comment.author == ticket.customer %}
            {{ticket.customer.get_role_user}} ({{ticket.customer.first_name}} {{ticket.customer.last_name}})
        {% else %}
            {{comment.author}}
        {% endif %}
      </span>
      <div class="metadata">
        <span class="date">{{comment.date_create|date:"Y-m-d H:i:s"}}</span>
        {% if comment.is_changed %}
        <i class="pen icon"></i>
        {% endif %}
        {% if  user.is_operator and not comment.is_system_message %}
        <a href={% url 'comment-toggle-for-report' comment.pk %}><i data-content="Добавить комментарий к отчету" class="{% if comment.is_for_report %} check  {% endif %}outline circle icon"></i></a>
        {% endif %}
      </div>
      <div class="{% if comment.is_system_message %} ui info message {% endif %}text">
      {% if comment.text %}
        {{comment.text|safe|linebreaksbr|urlize }}
      {% endif %}
      </div>
  
      {% if comment.images.count %}
      <div class="text">
        <div class="ui small images">
          {% for image in comment.images.all %}
          <div class="ui fluid image">
                {% if comment.author == user %}
                <a class="ui grey right corner mini label" href="{% url 'delete-comment-image' image.pk %}">
                  <i class="delete icon"></i>
                </a>
                {% endif %}
                <a href="{{image.image.url}}">
                  <img class="ui image" src={{image.image.url}}>
                </a>
              </div>

          {% endfor %}
        </div>
      {% endif %}
      {% if comment.files.count %}
      <div class="text">
        <div class="ui list">
          {% for file in comment.files.all %}
            <div class="item">
              <i class="file icon"></i>
              <div class="content">
                <a href="{{file.file.url}}">  {{file.file_name}}</a>
                {% if comment.author == user %}
                <a class="ui icon mini label" href="{% url 'delete-comment-file' file.pk %}" >
                  <i class="delete icon"></i>
                </a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        
      </div>
      
      {% endif %}
      {% if comment.author == user and not comment.is_system_message %}
      <div class="actions">
          <a href={% url 'comment-update' ticket.pk comment.pk %} >Изменить</a>
      </div>
      {% endif %}
    </div>
</div>