{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Заявки</h1>

<div class="ui icon right floated pointing dropdown button ">
  <i class="wrench icon"></i>
  <div class="menu">
    <div class="header">Настройка отображения</div>
    <div class="item" onclick="toogle_hidden_done()"><i id="icon_hide_show" class="hide icon"></i><span id="hide_text">Скрыть завершенные</span></div>
  </div>
</div>
<table id="tableTickets"class="ui celled table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Дата создания</th>
        <th>SAP</th>
        <th>Тип заявки</th>
        <th>Заказчик</th>
        {% if not user.is_customer %}
        <th>Иполнитель</th>
        {% endif %}
        <th> Плановая дата выезда/исполнения</th>
        <th>Статус</th>
        <th>Город</th>
        <th>Доп информация</th>
        <th>Подробнее</th>

    </tr></thead>
    <tbody>
      {% for ticket in object_list %}
      <tr>
        <td data-label="id">{{ticket.pk}}</td>
        <td data-label="date_create">{{ticket.date_create| date:"Y m d"}}</td>
        <td data-label="sap_id">{% firstof ticket.sap_id %}</td>
        <td data-label="type_ticket">{% firstof ticket.type_ticket %}</td>
        <td data-label="customer">{% firstof ticket.customer %}</td>
        {% if not user.is_customer %}
        <td data-label="contractor">{% firstof ticket.contractor %}</td>
        {% endif %}
        <td data-label="planned_execution_date">{% firstof ticket.planned_execution_date %}</td>
        <td data-label="status">{% if ticket.status %} <div class="ui {{ticket.get_color_status}} label">{{ticket.status}}</div>{% endif %}</td>
        <td data-label="address">{% firstof ticket.city %}</td>
        <td data-label="metadata">{% firstof ticket.metadata %}</td>
        <td><a class="ui button info" href={% url 'ticket-update' ticket.pk %}>Просмотр</a></td>
      </tr>
      
        {% empty %}
        <tr>
          <td>No tickets yet.</td>
        <tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>

{% endblock content %}
{% block script %}
<script>
    {% if  object_list%}
    var hidden_done = false;

    $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
      var status = data

      if (status.indexOf("Выполнено") >= 0 && hidden_done ) {
          return false;
      }
      return true;
    });
    var table = $('#tableTickets').DataTable({
      columnDefs: [
            {
                targets: 1,
                render: DataTable.render.date(),
            },
        ],
        order: [[1, 'desc']],
        language: {
            url: "{% static 'DataTables/ru.json'%}"
        }
        
    });


    $(".pointing.dropdown.button").dropdown()

    function toogle_hidden_done(){
      hidden_done = !hidden_done;
      table.draw();
      $("#icon_hide_show").toggleClass("hide eye");
      var text = $('#hide_text').text();
      $('#hide_text').text(
        text == "Скрыть завершенные" ? "Показать завершенные" : "Скрыть завершенные");

    }
    {% endif %}


</script>
{% endblock script %}