{% extends 'ticsys/index.html' %}
{% block content %}
<h1>Новая заявка</h1>
<div class="ui container">
    <form class="ui form" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            {{ field.errors }}
            {% if  field.is_hidden %}
              {{ field }}
            {% else %}
              {{ field.label_tag }} 
              {{ field }}
              {% if field.help_text %}
              <span class="ui small grey text">
                {{field.help_text}}
              </span>
              {% endif %}
            {% endif %}
        </div>
        {% endfor %}
      <button class="ui button positive" type="submit">Создать</button>
      <a class="ui button" style="margin-bottom: 10px;" href="{% url 'contractor-create' %}">Добавить исполнителя</a> 

    </form>
  </div>
{% endblock content %}

{% block script %}
<script>
  $('#date_calendar').calendar({
    type: "date", 
    firstDayOfWeek: 1,
    text: {
    days: ['В', 'П', 'В', 'С', 'Ч', 'П', 'С'],
      today: 'Сегодня',
      months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
      monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
    },
    formatter: {
      date: 'DD.MM.YYYY'
    }
  });
  $('.ui.dropdown').dropdown();
</script>
{% endblock script %}
