{% extends 'ticsys/index.html' %}
{% block content %}
<h1>Заявка</h1>
    <ul>
        <li>Дата создания {{ticket.date_create|date}}</li>
        <li>Номер SAP {% firstof ticket.sap_id %}</li>
        <li>Тип заявки {% firstof ticket.type_ticket %}</li>
        <li>Описание {% firstof ticket.description %}</li>
        <li>Автор {% firstof ticket.creator %}</li>
        <li>Заказчик {% firstof ticket.customer %}</li>
        <li>Исполнитель {% firstof ticket.contractor %}</li>
        <li>Статус {% if ticket.status %} <div class="ui {{ticket.get_color_status}} label">{{ticket.status}}</div>{% endif %}</li>
        <li>Адрес {% firstof ticket.address %}</li>
    <ul>
{% endblock content %}