{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Заявки</h1>
  <div class="ui multiple floated dropdown labeled icon button " style="margin-bottom:10px;" id="filterBtn">
    <input type="hidden" name="filters">
    <i class="filter icon"></i>
    <span class="text">Скрыть статусы</span>
    <div class="menu">
  
      <div class="scrolling menu">
        {% for status in statuses %}
        <div class="item" data-value="{{status.description}}">
          <div class="ui {{status.get_status_color}} empty circular label"></div>
          {{status.description}}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<table id="tableTickets"class="ui celled small compact table">
    <thead>
      <tr>
        <th id="id" data-data="id">ID</th>
        <th id="date_create" data-data="date_create">Дата создания</th>
        <th id="sap_id" data-data="sap_id">SAP</th>
        <th id="type_ticket" data-data="type_ticket">Тип заявки</th>
        <th id="customer" data-data="customer">Заказчик</th>
        <th id="responsible" data-data="responsible">Ответсвенный</th>
        {% if not user.is_customer %}
        <th id="contractor" data-data="contractor">Иполнитель</th>
        {% endif %}
        <th id="planned_execution_date" data-data="planned_execution_date"> Плановая дата выезда/исполнения</th>
        <th id="status" data-data="status">Статус</th>
        <th id="address" data-data="city">Город</th>
        <th id="shop_id" data-data="shop_id">Магазин</th>
        <th  data-data="detail_ticket_link">Подробнее</th>

    </tr></thead>
    <tbody>
    </tbody>
  </table>

{% endblock content %}
{% block script %}
<script>
    {% if  object_list%}

    function loadHideStatus(){
      var hidden_values = JSON.parse(localStorage.hidden_value || null) || false;
      if (hidden_values){
        let hidden_value_list = hidden_values.split(",");
        for (var i = 0; i < hidden_value_list.length; i++) {
          $("#filterBtn").dropdown('set selected', hidden_value_list[i]);
        }
        
      }
    }
      
   
      $("#filterBtn").dropdown({
        onChange: function (value, text, $selectedItem) {
          hideStatus(value);
        }
      })

    
    var table = $('#tableTickets').DataTable({
      stateSave: true,
      serverSide: true,
      format: "datatables",
      initComplete: function (settings, json) {
        loadHideStatus();
      },
      ajax : "{% url 'api-tickets' %}?format=datatables",
      columnDefs: [
            {
                targets: 1,
                render: DataTable.render.datetime(),
            },
            {
                targets: -5,
                render: DataTable.render.date(),
            },
        ],
        order: [[1, 'desc']],
        language: {
            url: "{% static 'DataTables/ru.json'%}"
        },
        createdRow : function(row, data, dataIndex){
          if (data.status.indexOf("!") > 0){
            $(row).addClass("violet colored")
          }
        },
        
    });


    function hideStatus(value){
      localStorage.setItem('hidden_value', JSON.stringify(value));
        
        if (!value || value.lenght===0){
          table.columns(-4).search('').draw();
        } else {
          let to_hide = value.replaceAll(",","|")
          to_hide = `^(?!.*${to_hide})`
          table.columns(-4).search(to_hide, true,false,true).draw();
        }
    }

    {% endif %}
  </script>
<script type="text/javascript" src={% static "ticket/websocket.js" %}></script>
  

{% endblock script %}