{% extends 'ticsys/index.html' %}
{% block content %}
<h1>Новая заявка</h1>
<div class="ui container">
    <form class="ui form" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            {{ field.errors }}
            {% if  field.is_hidden%}
              {{ field }}
            {% else %}
              {{ field.label_tag }} 
              {{ field }}
              {% if field.help_text %}
              <span class="ui small grey text">
                {{field.help_text}}
              </span>
              {% endif %}
            {% endif %}
        </div>
        {% endfor %}
      <button class="ui button" type="submit">Создать</button>
    </form>
  </div>
{% endblock content %}