{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}
{% block content %}
<h1>Заявка №{{ticket.pk}}</h1>

<div class="ui grid container">
  <div class="four wide column">
    <div class="ui list">
      {% if ticket.phone%}
      <div class="item">
        <i class="phone icon"></i>
        <div class="content">
          {% for phone  in phones %}
            <a href="tel:{{phone}}"> {{phone}}</a>
          {% endfor %}
        </div>
      </div>
      {%endif%}
      {% if ticket.address%}
      <div class="item">
        <i class="marker icon"></i>
        <div class="content">
          {{ticket.address}}
        </div>
      </div>
      {%endif%}
      {% if ticket.shop_id%}
      <div class="item">
        <i class="store alternate icon"></i>
        <div class="content">
          {{ticket.shop_id}}
        </div>
      </div>
      {%endif%}
      {% if ticket.full_name%}
      <div class="item">
        <i class="user icon"></i>
        <div class="content">
          {{ticket.full_name}}
        </div>
      </div>
      {%endif%}
      {% if ticket.position%}
      <div class="item">
        <i class="id badge icon"></i>
        <div class="content">
          {{ticket.position}}
        </div>
      </div>
      {%endif%}
      {% if ticket.sap_id%}
      <div class="item">
        <i class="ticket icon"></i>
        <div class="content">
          SAP: {{ticket.sap_id}}
        </div>
      </div>
      {%endif%}
      {% if ticket.metadata%}
      <div class="item">
        <i class="info icon"></i>
        <div class="content">
          {{ticket.metadata}}
        </div>
      </div>
      {%endif%}
      {% if user.is_operator or user.is_contractor %}
      {% if ticket.act.file_doc_act %}
        <div class="item">
          <i class="file alternate icon"></i>
          <div class="content">
            <a href="{{ticket.act.file_doc_act.url}}" target="_blank">Скачать акт</a>
          </div>
        </div>
      {% else %}
        <div class="item">
          <i class="file alternate icon"></i>
          <div class="content">
            <a href="{% url 'act-create' ticket.pk %}">Создать акт</a>
          </div>
        </div>
        <div class="ui dropdown button basic share" id="shareBtn">
          <div class="text">Поделиться</div>
          <i class="dropdown  icon"></i>
          <div class="menu">
            <div class="header">
              
              <div class="ui toggle checkbox share">
                <input type="checkbox" >
                <label>Включить ссылку публичного доступа</label>
              </div>
            </div>
            <div class="item">
            </div>

           
          </div>
            
        </div>
      {% endif %}
      
      {% endif %}

    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui   ">
      <div class="ui horizontal list">    
        <div class="item"> 
          <div class="header"> Тип</div> 
          {% firstof ticket.type_ticket "<i>Не назначен</i>"%}

        </div>
        <div class="item"> 
          <div class="header"> Заказчик</div> 
          {{ticket.customer.get_role_user}} ({{ticket.customer.first_name}} {{ticket.customer.last_name}})
        </div>
        <div class="item"> 
          <div class="header"> Исполнитель</div> 
          {% if ticket.contractor %}
          {{ticket.contractor}}
          {% if ticket.contractor.phone %}
          <a href="tel:{{ticket.contractor.phone}}">{{ticket.contractor.phone}}</a>
          {% endif %}
          {% else %}
          <i>Не назначен</i>
          {% endif %}
        </div>
        <div class="item"> 
          <div class="header"> Статус</div> 
          {% if ticket.status %} <div class="ui {{ticket.get_color_status}} label">{{ticket.status}}</div>{% endif %}
        </div>
        <div class="item"> 
          <div class="header"> Плановая дата выезда/исполнения</div> 
          {% if ticket.planned_execution_date %}
          {{ticket.planned_execution_date}}
          {% else%}
          <i>Не назначена</i>
          {% endif %}
        </div>
      </div>
      <div class=" ui list ">
        <div class="item"> 
          <div class="header"> Описание</div> 
          <div class="ui large text">
          {{ticket.description|safe|linebreaksbr|urlize }}
          </div>
        </div>
      </div>
      <div class="ui grid container">
        <div class="eight wide column">
          {% if user.is_operator %}
            {% if ticket.status.code != "work" %}
              <a class="ui left floated button basic"  href="{% url 'ticket-to-work' ticket.pk %}">
                {% if  ticket.status.code == "done" or ticket.status.code == "cancel" %}
                  Переоткрыть
                {% else %}
                  В работу
                {% endif %}
              </a>
            {% endif %}
            {% if ticket.status.code != "done"  and ticket.status.code != "cancel"%}
              <a class="ui left floated button positive basic" id="to_done" >Выполнить</a>
            {% endif %}
            {% if ticket.status.code != "cancel" and ticket.status.code != "done"  %}
              <a class="ui left floated button negative basic" id="to_cancel" >Отменить</a>
            {% endif %}
          {% endif %}
        </div>
        <div class="eight wide column">
          {% if user.is_operator %}
          <div id="run_modal" class="ui right floated button ">Изменить</div>
          {% endif %}
          <a href="{% url 'comment-create' ticket.pk %}" class="ui right floated info button ">Добавить комментарий</a>
        </div>

    </div>
  </div>
<div class="ui comments">
{% for comment in ticket.comments.all %}
  {% include "ticket/ticket_comment_list.html" %}
{% endfor %}
</div>
{% if user.is_operator %}
<div class="ui modal" id="changeTicket">
  <i class="close icon"></i>
  <div class="header">Изменить заявку</div>
  <div class="content">
    <form class="ui form" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
            {{ field.errors }}
            {% if not field.is_hidden%}
            {{ field.label_tag }} 
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button class="ui button positive" type="submit">Изменить</button>

    </form>
  </div>
</div>
{% endif %}
{% include "ticket/ticket_to_quick_status.html" %}
{% endblock content %}
{% block script %}
<script>
  {% if user.is_operator %}
  $("#run_modal").click(function(){
      $('#changeTicket').modal('show');
  });

  $("#to_done").click(function(){
    $("#ticketToDone").modal('show');
  });

  $("#to_cancel").click(function(){
    $("#ticketToCancel").modal('show');
  });
  {% endif %}
  $('#date_calendar_planned_execution_date').calendar({
    type: "date",
    firstDayOfWeek: 1,
    text: {
      days: ['В', 'П', 'В', 'С', 'Ч', 'П', 'С'],
        today: 'Сегодня',
        months: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
        monthsShort: ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
      },
      formatter: {
        date: 'DD.MM.YYYY'
      },
  });
  $('.ui.dropdown').not($('#shareBtn')).dropdown();
  $('.circle.icon').popup();

  $('#shareBtn').dropdown({  
    action: 'select',
  });

  $('.checkbox.share').checkbox({
    onChecked: function() {
      $.ajax({
        url: "{% url 'create-share' %}",
        type: "POST",
        data: {
          'ticket': '{{ ticket.pk }}',
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data){
          // create element span with text link from json data and with button copy to clipboard
          var link = $('<span class="ui label" id="link_share">').text(data.link);
          var btn = $('<button class="ui icon button" id="copyBtn">').html('<i class="copy icon"></i>');
          // add element to div
          $('#shareBtn').append(link);
          $('#shareBtn').append(btn);
          // add event to button
          $('#copyBtn').click(function(){
            var copyText = document.getElementById("link_share");
            copyText.select();
            document.execCommand("copy");
          });
          
          
        },
        error: function(data){
          console.log(data);
        }
      });

    },
  })

</script>
{% endblock script %}