.img_wrap {
    position: relative;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.img_description {
    position: absolute;
    border-radius: 500rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100%;
    top: 0%;
    left: 35%;
    background: rgba(41, 45, 48, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .img_description {
    visibility: visible;
    opacity: 1;
}

.img_description span {
    padding-bottom: 10%;
}