{% extends 'ticsys/index.html' %}
{% load static %}
{% block header_style %}
<link rel="stylesheet" type="text/css" href="{% static 'DataTables/DataTables-1.13.1/css/dataTables.semanticui.min.css' %}"/> 
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'DataTables/DataTables-1.13.1/js/dataTables.semanticui.min.js' %}"></script>
{% endblock %}


{% block content %}
<h1>Заявки</h1>


<table id="tableTickets"class="ui celled table">
    <thead>
      <tr><th>Дата создания</th>
      <th>SAP</th>
      <th>Тип заявки</th>
      <th>Описание</th>
      <th>Автор</th>
      <th>Заказчик</th>
      <th>Иполнитель</th>
      <th>Статус</th>
      <th>Адрес</th>
    </tr></thead>
    <tbody>
      <tr>
        {% for ticket in object_list %}
        <td data-label="date_create">{{ticket.date_create|date}}</td>
        <td data-label="sap_id">{% firstof ticket.sap_id %}</td>
        <td data-label="type_ticket">{% firstof ticket.type_ticket %}</td>
        <td data-label="description">{% firstof ticket.description %}</td>
        <td data-label="creator">{% firstof ticket.creator %}</td>
        <td data-label="customer">{% firstof ticket.customer %}</td>
        <td data-label="contractor">{% firstof ticket.contractor %}</td>
        <td data-label="status">{% if ticket.status %} <div class="ui {{ticket.get_color_status}} label">{{ticket.status}}</div>{% endif %}</td>
        <td data-label="address">{% firstof ticket.address %}</td>
      
        {% empty %}
        <td>No tickets yet.</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>

{% endblock content %}
{% block script %}
<script>
    {% if  object_list%}

    $('#tableTickets').DataTable({
        language: {
            url: "{% static 'DataTables/ru.json'%}"
        }
    });
    {% endif %}

</script>
{% endblock script %}