{% extends 'ticsys/index.html' %}
{% block content %}
<h1>Tickets</h1>


<table class="ui celled table">
    <thead>
      <tr><th>Дата создания</th>
      <th>SAP</th>
      <th>Тип заявки</th>
      <th>Описание</th>
      <th>Автор</th>
      <th>Заказчик</th>
      <th>Иполнитель</th>
      <th>Статус</th>
      <th>Адрес</th>
    </tr></thead>
    <tbody>
      <tr>
        {% for ticket in object_list %}
        <td data-label="date_create">{{ticket.date_create|date}}</td>
        <td data-label="sap_id">{{ticket.sap_id}}</td>
        <td data-label="type_ticket">{{ticket.type_ticket}}</td>
        <td data-label="description">{{ticket.description}}</td>
        <td data-label="creator">{{ticket.creator}}</td>
        <td data-label="customer">{{ticket.customer}}</td>
        <td data-label="contractor">{{ticket.contractor}}</td>
        <td data-label="status">{{ticket.status}}</td>
        <td data-label="address">{{ticket.address}}</td>
        {% empty %}
        No tickets yet.
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}